<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Non Rev Test Suite" verbose="1" data-provider-thread-count="8" >
  <test name="Thread 1" annotations="JDK"
        preserve-order="true">
    <classes>
      <class name="skeleton.RunCukesTest"></class>

    </classes>

  </test> <!-- Test -->

</suite> <!-- Suite -->
